.bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
  margin: 1px;
  z-index: 1;
}

.up {
  top: 0;
  position: absolute;
  margin: 1px;
  width: 100%;
  z-index: 1;
  transform: rotateX(180deg) rotateY(180deg);
}

.button {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 12;
}

.nav-wrapper {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;

  position: absolute;
  z-index: 10;
  background: blue;
}

@media screen and (min-width: 390px) and (max-width: 700px) {
  .link {
    font-size: 3rem;
  }
}

.link-container {
  position: absolute;
  top: 40%;
  left: 20%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: white;
  font-size: 4rem;
  font-weight: 600;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

.link .primary {
  font-size: 2rem;
  color: red;
}

.link .accent {
  font-size: 1.5rem;
  color: blue;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.link .tertiary {
  font-size: 1rem;
  color: green;
}

.card-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: white;
  margin-bottom: 0.7rem;
}
