.bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
  margin: 1px;
  z-index: 1;
}

.up {
  top: 0;
  position: absolute;
  margin: 1px;
  width: 100%;
  z-index: 1;
  transform: rotateX(180deg) rotateY(180deg);
}

.button {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 12;
  border: 1px solid #18181a;
  color: black;
  font-size: 25px;
  size: 100px;
  font-weight: 600;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
}

.open {
  background: black;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  border: none;
  transition: all 0.6s ease-in;
}

.close {
  background: white;
  color: black;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  transition: all 0.6s ease-in;
}

.nav-wrapper {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;

  position: absolute;
  z-index: 10;
  background: black;
}

@media screen and (min-width: 390px) and (max-width: 700px) {
  .link {
    font-size: 3rem;
  }
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.link-container {
  position: relative;
  top: 10%;
  left: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-column {
  width: 70%;
  height: 100vh;
}
.column {
  width: 30%;
  height: 100vh;
}

.beige {
  background-color: rgb(0, 66, 66);
}

.link {
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: white;
  font-size: 4rem;
  font-weight: 600;
  padding: 1rem;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;

  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 66, 66);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover {
  color: beige;
}

.link:hover::after {
  transform: scaleX(1);
  color: rgb(0, 66, 66);
  transform-origin: bottom left;
}

.card-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: white;
  margin-bottom: 0.7rem;
}
